[submodule "auth"]
	path = auth
	url = https://github.com/JosephVoid/bf-auth.git
	branch = main

[submodule "core"]
	path = core
	url = https://github.com/JosephVoid/bf-core.git
	branch = main
[submodule "file"]
	path = file
	url = https://github.com/JosephVoid/bf-file.git
	branch = main
[submodule "chat"]
	path = chat
	url = https://github.com/JosephVoid/bf-chat.git
	branch = main
[submodule "notif"]
	path = notif
	url = https://github.com/JosephVoid/bf-notif.git
	branch = main
